{% extends 'markdown_base.html' %}
{% load martortags %}
{% load answers_tags %}
{% load questions_tags %}
{% load users_tags %}
{% block content %}
    {% if question.has_solution %}
        <p>✔ Has solution</p>
    {% endif %}
    <h1>{{ question.title }}</h1>
    {% user_link question.user %}
    <p>{{ question.text|safe_markdown }} </p>
    <p>{{ question.get_rating }} votes</p>
    {% question_vote_block question user %}
    <p>Asked at {{ question.created_at|date:'d.m.Y' }}<p>
    <p>Edited at {{ question.updated_at|date:'d.m.Y' }}</p>
    {% if user == question.user %}
        <a href="{% url 'delete_question' question.pk %}">Delete</a>
        <a href="{% url 'update_question' question.pk %}">Edit</a>
    {% endif %}
    <a href="{% url 'create_answer' question.pk %}">Answer</a>
    <h2>{{ question.answers.count }} answers</h2>
    {% for answer in question.answers.all %}
        <div id="{{ answer.pk }}">
            {% if answer.is_solution %}
                <p>✔ Marked as solution</p>
            {% endif %}
            {% user_link answer.user %}
            <p>{{ answer.text|safe_markdown }}</p>
            <p>{{ answer.get_rating }} votes</p>
            {% answer_vote_block answer user %}
            <p>Answered at {{ answer.created_at|date:'d.m.Y' }}<p><br>
            {% edit_answer_block question answer user %}
        </div>
    {% endfor %}
    <script>
        const params = new URLSearchParams(window.location.search);
        const answer_id = params.get('answer_id');
        if (answer_id) {
            const answer = document.getElementById(answer_id);
            answer.scrollIntoView();
        }
    </script>
{% endblock %}