{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
    {% if question.has_solution %}
        <p>✔ Has solution</p>
    {% endif %}
    <h1>{{ question.title }}</h1>
    {% user_link question.user %}
    <p>{{ question.text }} </p>
    <p>{{ question.get_rating }} votes</p>
    <p>Asked at {{ question.created_at|date:'d.m.Y' }}<p>
    <p>Edited at {{ question.updated_at|date:'d.m.Y' }}</p>
    {% if user == question.user %}
        <a href="{% url 'delete_question' question.pk %}">Delete</a>
        <a href="{% url 'update_question' question.pk %}">Edit</a>
    {% endif %}
    <a href="{% url 'create_answer' question.pk %}">Answer</a>
    <h2>{{ question.get_answers_count }} answers</h2>
    {% for answer in question.answers.all %}
        <div id="{{ answer.pk }}">
            {% if answer.is_solution %}
                <p>✔ Marked as solution</p>
            {% endif %}
            {% user_link answer.user %}
            <p>{{ answer.text }}</p>
            <p>{{ answer.get_rating }} votes</p>
            <p>Answered at {{ answer.created_at|date:'d.m.Y' }}<p><br>
            {% if not answer.is_solution %}
                {% if user == answer.user %}
                    <a href="{% url 'delete_answer' answer.pk %}">Delete</a>
                    <a href="{% url 'update_answer' answer.pk %}">Edit</a>
                {% endif %}
                {% if user == question.user %}
                    <form action="{% url 'update_answer_mark' answer.pk %}" method="post">
                        {% csrf_token %}
                        {{ mark_answer_form }}
                        <button type="submit">Mark as solution</button>
                    </form>
                {% endif %}
            {% elif user == question.user %}
                <form action="{% url 'update_answer_mark' answer.pk %}" method="post">
                    {% csrf_token %}
                    {{ unmark_answer_form }}
                    <button type="submit">Unmark as solution</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
    <script>
        const params = new URLSearchParams(window.location.search);
        const answer_id = params.get('answer_id');
        if (answer_id) {
            const answer = document.getElementById(answer_id);
            answer.scrollIntoView();
        }
    </script>
{% endblock %}